.buttonAqua, .buttonBlue, .buttonWhite, .buttonYellow, .buttonRed {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: rgba(0, 255, 255, 0);
    border: 0.5px solid aqua;
    color: aqua;
    cursor: pointer;
}

.buttonAqua:hover {
    box-shadow: 0px 0px 6px 1px rgba(0, 255, 255, 0.808);
}

.buttonBlue {
    border: 0.9px solid rgb(94, 83, 247);
    color: rgb(112, 127, 255);
}

.buttonBlue:hover {
    box-shadow: 0px 0px 7px 1px rgba(80, 68, 248, 0.788);
}

.buttonWhite {
    border: 0.5px solid white;
    color: white;
}

.buttonWhite:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.459);
}

.buttonRed {
    border: 0.5px solid red;
    color: red;
}

.buttonRed:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 24, 24, 0.63);
}

.buttonYellow {
    border: 0.5px solid rgb(208, 255, 37);
    color: rgb(208, 255, 37);
}

.buttonYellow:hover {
    box-shadow: 0px 0px 6px 1px rgba(208, 255, 37, 0.808);
}



