
.itemUsers {
    width: 442px;
    height: 675px;
    margin: 20px auto 20px 30px;
    padding-top: 15px;
    background-color: rgb(36, 35, 35);
    box-shadow: 0px 0px 8px 3px rgb(85, 85, 85);
    border-radius: 4px;
    overflow-y: scroll;
    cursor: url(../../assets/images/icon_cursor_7.png) 10 21, auto;
}

.itemUsers::-webkit-scrollbar {
    width: 0;
}

.itemBlock {
    display: flex;
    width: 400px;   
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid rgb(208, 255, 37);
    border-radius: 4px;
}

.itemBlock:hover {
    box-shadow: 0px 0px 7px 1px rgb(208, 255, 37);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.userName {
    text-align: center;
}

.userAvatar {
    margin-bottom: 5px;
    border-radius: 50px;
    text-align: center;   
}

.personalData {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 10px;    
    border-radius: 4px;
    border: none;
    background-color: rgba(95, 95, 95, 0);
    color: rgb(208, 255, 37);
}

.status {
    padding: 10px 10px 0px 0px;
}

.h1 {
    color: aqua;
    margin-left: 30px;
}



