.itemUsers {
    padding: 10px;
    background-color: rgb(83, 83, 83);
}

.itemBlock {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
}

.item {
    padding: 10px;
}

.userName {
    text-align: center;
}


.userAvatar {
    text-align: center;   
}

.followButton {
    width: 70px;
    height: 25px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgb(240, 222, 144);
    color: black;
    border: 0px;
}

.unFollowButton {
    width: 70px;
    height: 25px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: gray;
    color: black;
    border: 0px;
}

.personalData {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 5px;
    width: 300px;
    height: 110px;
    border-radius: 5px;
    background-color: rgb(95, 95, 95);
    color: rgb(184, 184, 184);
}

.selectedPage {
    color: rgb(250, 221, 91);
}

