.header {
    grid-area: h;
    background-color: rgba(59, 59, 60, 1);
}

.header img {
    width: 20px;
}

.loginBlook {
    width: 20px;
    color: aqua;
}

.loginBlook a {
    color: aqua;
    text-decoration: none;
}

.loginBlook button {
    border-radius: 4px;
    background-color: aqua;
    border-color: aqua;
    color:   rgb(49, 48, 48);
}



