.header {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(59, 59, 60, 1);
    padding: 10px;
}

.header img {
    width: 40px;
}

.loginBlook {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: aqua;
}

.login {    
    color: aqua;
    text-decoration: none;
}

.loginButton {
    margin: 20px;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: rgba(0, 255, 255, 0);
    border: 1px solid aqua;
    color: aqua;
    cursor: pointer;
}

.loginButton:hover {
    box-shadow: 0px 0px 7px 1px rgba(0, 255, 255, 0.897);
}





