.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: s;
    background-color: rgba(59, 59, 60, 1);
    padding: 20px;
}

.sidebar a {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;
    text-decoration: none;
}

.itemFriends {
    color: aqua;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 160px;
    height: 120px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 2px rgb(107, 107, 107);
}

.userName {
    color: aqua;
}

.userAvatar {
    padding: 10px;
}

.text {
    color: rgb(36, 36, 36);
    margin: 10px;
}










