.postBlock {
    padding: 20px;      
}

.itemBlock {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
}

.item {
    padding: 10px;
}

.userAvatar {
    text-align: center;   
}

.userName {
    text-align: center;
}

.personalData {
    /* display: flex;
    flex-wrap: wrap;
    align-content: space-between; */
    padding: 5px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(95, 95, 95);
    color: rgb(184, 184, 184);
}

.selectedPage {
    color: rgb(250, 221, 91);
}

.userContacts a {
    color: rgb(7, 224, 253);
    text-decoration: none;
}

.editModeButton {
    position: relative;    
    display:block;
    border-radius: 4px;
    border: 1px solid rgb(49, 49, 49);
    background-color: rgb(95, 95, 95);
    color: rgb(39, 39, 39);
    padding: 2px 3px 4px 3px ;
    margin-top: 10px; 
    margin-bottom: 20px;
    cursor: pointer;
    font-size: small;
}

.editModeButton:hover {
    background-color: rgb(114, 113, 113);
}