.postBlock {
    padding: 20px;      
}

.itemBlock {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
}

.item {
    padding: 10px;
}

.userAvatar {
    text-align: center;   
}

.userName {
    text-align: center;
}

.personalData {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 5px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(95, 95, 95);
    color: rgb(184, 184, 184);
}

.selectedPage {
    color: rgb(250, 221, 91);
}

.userContacts a {
    color: rgb(7, 224, 253);
    text-decoration: none;
}
