.postBlock {
    padding: 20px;      
}

.itemBlock {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
}

.item {
    padding: 10px;
}

.userAvatar {
    text-align: center;   
}

.userName {
    text-align: center;
}

.personalData {
    padding: 5px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(95, 95, 95);
    color: rgb(184, 184, 184);
}

.selectedPage {
    color: rgb(250, 221, 91);
}

.userContacts a {
    color: rgb(7, 224, 253);
    text-decoration: none;
}

.editField{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 10px;
}

.editText, .editCheckbox {
    width: 250px;
    height: 20px;
    padding: 5px;
    margin: 8px;
    background-color: rgb(219, 219, 219);    
    border-radius: 4px;
    border: 1px solid rgb(126, 126, 126);
    color: rgb(49, 49, 49);
}

.lable {
    display: flex;
    align-items: center; 
    padding: 2px;
    margin: 8px;
}

.editCheckbox {
    width: 20px;
    height: 20px;
}

.editText:hover, .editCheckbox:hover {
    background-color: rgb(240, 238, 238);
}

.buttonField {
    display: flex;
    justify-content: space-around;
}

.editModeButton, .hendleSubmit {
    position: relative;    
    display:block;
    border-radius: 4px;
    border: 1px solid rgb(49, 49, 49);
    background-color: rgb(95, 95, 95);
    color: rgb(39, 39, 39);
    padding: 2px 3px 4px 3px ;
    margin-top: 10px; 
    margin-bottom: 20px;
    cursor: pointer;
    font-size: small;
}

.editModeButton:hover, .hendleSubmit:hover {
    background-color: rgb(114, 113, 113);
}