.preloader {
    width: 100px;
    padding: 20px;
    background-color: none;
}

.avatar {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;   
}

.photoOwnerSmall {
    width: 100px;
    height: 100px;
    border-radius: 50px;   
}

.photoOwnerSmall:hover, .avatar:hover, .avatarLarge:hover {
    box-shadow: 0px 0px 8px 2px rgb(65, 231, 253);
}

.avatarLarge {
    margin: 30px;
    width: 350px;
    height: 350px;
    border-radius: 10px; 
}

.nameLink {
    text-align: center;
    color: rgb(7, 224, 253);
    word-wrap: break-word;
    width: 130px;
    height: 42px;
    font-size: 16px;
}

.userName {
    overflow: scroll;
    width: 130px;
}

.userName a{    
    text-decoration: none;
}

.userName::-webkit-scrollbar {
    width: 0;
}

.nameLink:hover {
    color: rgb(247, 247, 247);  
}

.labelOwnerPhoto {
    width: 90px;
    height: 22px;
    position: relative;    
    display:block;
    border-radius: 4px;
    border: 0.4px solid rgb(117, 117, 117);
    background-color: rgba(199, 197, 197, 0);    
    color:  rgb(117, 117, 117);
    padding: 5px 15px ;
    margin: 15px;
    cursor: pointer;
    font-size: 14px;
}
  
.labelOwnerPhoto:hover {
    box-shadow: 0px 0px 6px 1px rgb(117, 117, 117);
}

.inputOwnerPhoto {
    position: absolute;    
    opacity: 0;
    width: 0; 
    height: 0;
}

.spanOwnerPhoto {
    position: absolute;    
    display:block;
}


