.paginator {
    margin: 43px auto auto 30px;
}

.selectedPage {
    color: aqua;
}

.pageNumber:hover {
    color: rgb(243, 247, 247);
}

.pageNumber {
    color:gray;
    cursor: pointer;
}

.paginator button {
    width: 70px;
    height: 25px;
    margin: 10px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0);
    border: 0.5px solid aqua;
    color: aqua;
    cursor: pointer;
}

.paginator button:hover {
    box-shadow: 0px 0px 6px 1px rgba(0, 217, 255, 0.767);
}