.app_psymyslium {
  display: grid;
  grid-template-areas:
  'h h' 
  'n c'
  's c';
  grid-template-rows: 50px 200px 10fr;
  grid-template-columns: 3fr 12fr;
}

.app_psymyslium-content {
  grid-area: c;
  background-color: rgb(34, 34, 34);
}

.sidebar {  
  background-color: rgba(59, 59, 60, 1);
}





