.app_psymyslium {
  display: grid;
  grid-template-areas:
  'h h' 
  'n c'
  's c';
  grid-template-rows: 60px 5fr 10fr;
  grid-template-columns: 3fr 12fr;
  /* grid-gap: 10px; */
}

.app_psymyslium-content {
  grid-area: c;
  background-color: rgba(196, 196, 196, 1);
}





